/* ESTILO DEL NAVBAR */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e79191;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #5c5454;
    padding: 10px 0;
}

.logo h1 {
    margin: 0;
    color: #e79191;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #e79191;
}

/* ESTILO DEL FOOTER */
#menu-social {
    margin-top: 20px;
    padding: 20px 0;
    background-color: #5c5454;
    text-align: center;
    clear: both;
}

#menu-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu-social li {
    display: inline-block;
}

#menu-social li a {
    color: #e79191;
    margin: 0 10px;
    text-decoration: none;
}

#menu-social li a:hover {
    color: #e79191;
}

/* ESTILO DE CONTENIDO DE CONTACTOS */
.contact-form {
    background-color: #5c5454;
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
    border-radius: 8px;
}

.contact-info {
    background-color: #5c5454;
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
    border-radius: 8px;
    text-align: center;
}

.contact-form h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #e79191;
}

.form-group input, .form-group textarea {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input, .form-group textarea:focus {
    border-color: #e79191;
}

button {
    background-color: #e79191;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c76969;
}

